<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content">
   	<div class="container">
   		<div class="row">
			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 center">
				<div class="profile box-shadow">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="/" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
          <div class="center profile_desc">
						{{ site.profile_desc }}
            <br>
            生命不止 折腾不休
					</div>
          <br/>
          <hr>
          <div class="recentcome">
            <p>最近访客</p>
            <ul class="ds-recent-visitors" data-num-items="10"></ul>
          </div>
          <div class="comment">
            <p>最新评论</p>
            <ul class="ds-recent-comments"  data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="45"></ul>
          </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 page-content box-shadow">
					<div class="wrapper" id="pjax">{{content}}</div>
			</div>

    </div>
	</div>
    </div>

    <div id="backtotop">
    		<a href="#"><div class="bttbg"></div></a>
    </div>

    {% include footer.html %}

  </body>

</html>
